[Unit]
Description	= Daily timer to run Amavis/MailZu quarantine cleanup

[Timer]
OnCalendar	= 01:05
AccuracySec	= 30m

[Install]
WantedBy	= timers.target
