[Unit]
Description		= Amavis/MailZu email quarantine reporting service to end-users
Documentation		= file://usr/share/mailzu/docs/SCRIPTS_README
After			= mariadb.service

[Service]
Type			= oneshot
ExecStart		= /usr/share/mailzu/scripts/mailzu-db-reporting.sh
SyslogIdentifier	= mailzu-db-reporting
